//BOOTSTRAP
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
//FONT-AWESOME
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

.nav-header>.nav-header-links>a {
    color: rgba(255, 255, 255, 0.39);
    &:hover {
        font-weight: bolder;
        color: white;
    }
}

.carrusel {
    height: 400px;
    .carrusel-item {
        height: 100%;
    }
    .carrusel-caption {
        color: red;
        position: relative;
        top: -100px;
        left: auto;
    }
}

.list-group-item,
.list-group-item-action {
    border: none;
}

.footer-feature *,
.footer-resource *,
.footer-team *,
.footer-contact * {
    background: none;
    color: white;
    font-weight: bold;
}