//BOOTSTRAP
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
//FONT-AWESOME
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
//Custom Styles
@import './landing.scss';
@import './centro.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

.nav-header-links a {
    color: rgba(255, 255, 255, 0.39);
    &:hover {
        font-weight: bolder;
        color: white;
    }
}

.container {
    margin-top: 100px;
}

.carousel {
    height: 350px;
    .carousel-caption {
        position: relative;
        bottom: 250px;
        left: 150px;
    }
}

.actual-path {
    padding: 5px 10px;
    margin-bottom: 20px;
    background-color: #e8ecef;
}

.nav-content .selected {
    font-weight: bold;
    color: rgb(3, 2, 92);
}

.main-content header {
    background-color: #e8ecef;
}

.list-group-item,
.list-group-item-action {
    border: none;
}

.footer-feature *,
.footer-resource *,
.footer-team *,
.footer-contact * {
    background: none;
    color: white;
    font-weight: bold;
}